.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 0.9rem;
    line-height: 1.8;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.card-registration .select-arrow {
    top: 8px;
}
