@model AddReviewViewModel


<div>
    <h3 class="text text-center" style="margin-bottom: 20px;">Add your honest review for this web platform</h3>
</div>

<form method="post" style="max-width: 500px; margin: 0 auto;">
    <div class="form-outline mb-4">
        <label asp-for="@Model.Description" class="form-label">Description</label>
        <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Add review</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}