@{
    ViewData["Title"] = "Home Page";
}

@if (this.TempData.ContainsKey("SuccessLogin"))
{
    <div class="alert alert-info d-flex justify-content-center">@this.TempData["SuccessLogin"]</div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
