@model ForgottenPasswordViewModel

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3><strong>Forgoten Password</strong></h3>
                                <p class="mb-4">Fill the form to reset your password.</p>

                                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                {
                                    <div class="alert alert-danger text-center">@Model.ErrorMessage</div>
                                }
                                else
                                {
                                    if (this.TempData.ContainsKey("SuccessResetRequest"))
                                    {
                                        <div class="alert alert-info d-flex justify-content-center">@this.TempData["SuccessResetRequest"]</div>
                                    }
                                }

                            </div>

                            <form method="post">
                                <div class="form-group first">
                                    <label asp-for="@Model.Email">Email</label>
                                    <input asp-for="@Model.Email" type="text" class="form-control" id="username">

                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    @*<label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                    </label>*@
                                    <span class="ml-auto"><a href="/User/Login" class="forgot-pass">Return to Sign In</a></span>
                                </div>

                                <input type="submit" value="Send Reset Link" class="btn btn-pill text-white btn-block btn-primary">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/login.js"></script>