@model RegisterViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
}

<h3 style="text-align:center">Welcome to HomeXplorer</h3>

<form id="signUpForm" method="post">
    <!-- start step indicators -->
    <div class="form-header d-flex mb-4">
        <span class="stepIndicator">Account Setup</span>
        <span class="stepIndicator">Personal Information</span>
    </div>
    <!-- end step indicators -->
    <!-- step one -->

    <div class="step">
        <p class="text-center mb-4"> Setup your acount </p>

        <div class="mb-3">
            <input type="text" placeholder="Email" oninput="this.className = ''" name="Email">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Phone Number" oninput="this.className = ''" name="Phone Number">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Password" oninput="this.className = ''" name="Password">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Confirm Password" oninput="this.className = ''" name="Confirm Password">
        </div>

        <p class="text-center mb-4">Choose  your role</p>
        <div class="mb-3 radio-buttons-container">

            <label>
                <input asp-for="Role" type="radio" value="Agent"> Agent
            </label>
            <label>
                <input asp-for="Role" type="radio" value="Renter"> Renter
            </label>
        </div>
    </div>

    <!-- step two -->
    <div class="step">
        <p class="text-center mb-4">We need some personal information about you</p>

        <div class="mb-3">
            <input type="text" placeholder="First Name" oninput="this.className = ''" name="First Name">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Last Name" oninput="this.className = ''" name="Last Name">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="Country" oninput="this.className = ''" name="Country">
        </div>

        <div class="mb-3">
            <input type="text" placeholder="City" oninput="this.className = ''" name="City">
        </div>
    </div>

    <!-- start previous / next buttons -->
    <div class="form-footer d-flex">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        @*<button type="submit" id="submitBtn" style="display: none;">Submit</button>*@
    </div>
    <!-- end previous / next buttons -->
</form>

<script src="~/js/register/register.js"></script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}