@model ResetPasswordViewModel

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3><strong>Forgoten Password</strong></h3>
                                <p class="mb-4">Fill the form to reset your password.</p>
                            </div>

                            <form method="post">
                                <div class="form-group first">
                                    <label asp-for="@Model.NewPassword">Enter your new password</label>
                                    <input asp-for="@Model.NewPassword" type="text" class="form-control" id="newPassword">
                                </div>

                                <input type="submit" value="Reset password" class="btn btn-pill text-white btn-block btn-primary">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/login.js"></script>