@using HomeXplorer.Data.Entities;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeXplorer Admin Dashboard</title>
    @await RenderSectionAsync("Styles", false)
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/admin/img/svg/Logo.svg" type="image/x-icon" />
    <!-- Custom styles -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/css/style.min.css" />
</head>

<body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>

    <div class="page-flex">

        <!-- ! Sidebar -->
        <aside class="sidebar">

            <div class="sidebar-start">
                <div class="sidebar-head">
                    <a href="/" class="logo-wrapper" title="Home">
                        <span class="sr-only">Home</span>
                        <span class="icon logo" aria-hidden="true"></span>
                        <div class="logo-text">
                            <span class="logo-title">HomeXplorer</span>
                            <span class="logo-subtitle">Dashboard</span>
                        </div>

                    </a>
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon menu-toggle" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="sidebar-body">
                    <ul class="sidebar-body-menu">
                        <li>
                            <a class="active" href="/"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon document" aria-hidden="true"></span>Reviews
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                @*<li>
                                <a href="posts.html">All Reviews</a>
                                </li>*@
                                <li>
                                    <a asp-area="Administrator" asp-controller="Dashboard" asp-action="PendingReviews">
                                        Pending for approvement
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon folder" aria-hidden="true"></span>Countries
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <li>
                                    <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllCountries">
                                        All countries
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AddCountry">
                                        Add new country
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon image" aria-hidden="true"></span>Cities
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllCities">
                                    All cities
                                </a>
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AddCity">
                                    Add new city
                                </a>
                            </ul>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon paper" aria-hidden="true"></span>Property Types
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <li>
                                    <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllPropertyTypes">
                                        All property types
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AddPropertyType">
                                        Add new property type
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon image" aria-hidden="true"></span>Building Types
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllBuildingTypes">
                                    All building types
                                </a>
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AddBuildingType">
                                    Add new building type
                                </a>
                            </ul>
                        </li>
                    </ul>
                    <span class="system-menu__title">system</span>
                    <ul class="sidebar-body-menu">
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon user-3" aria-hidden="true"></span>Users
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Open list</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllAgents">
                                    Check all Agents
                                </a>
                                <a asp-area="Administrator" asp-controller="Dashboard" asp-action="AllRenters">
                                    Check all Renters
                                </a>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();">
                                <span class="icon setting" aria-hidden="true"></span>Logout
                            </a>
                            <form id="logoutForm" asp-area="" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)" method="post" style="display: none;">
                            </form>
                        </li>

                    </ul>
                </div>
            </div>

        </aside>

        <div class="main-wrapper">
            <!-- ! Main nav -->
            <nav class="main-nav--bg">
                <div class="container main-nav">
                    
                    <div class="main-nav-end">
                        <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                            <span class="sr-only">Toggle menu</span>
                            <span class="icon menu-toggle--gray" aria-hidden="true"></span>
                        </button>

                        <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
                            <span class="sr-only">Switch theme</span>
                            <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                            <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                        </button>
                        @*<div class="notification-wrapper">
                        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
                        <span class="sr-only">To messages</span>
                        <span class="icon notification active" aria-hidden="true"></span>
                        </button>
                        <ul class="users-item-dropdown notification-dropdown dropdown">
                        <li>
                        <a href="##">
                        <div class="notification-dropdown-icon info">
                        <i data-feather="check"></i>
                        </div>
                        <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">System just updated</span>
                        <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                        here.</span>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="##">
                        <div class="notification-dropdown-icon danger">
                        <i data-feather="info" aria-hidden="true"></i>
                        </div>
                        <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">The cache is full!</span>
                        <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                        interfere ...</span>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="##">
                        <div class="notification-dropdown-icon info">
                        <i data-feather="check" aria-hidden="true"></i>
                        </div>
                        <div class="notification-dropdown-text">
                        <span class="notification-dropdown__title">New Subscriber here!</span>
                        <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a class="link-to-page" href="##">Go to Notifications page</a>
                        </li>
                        </ul>
                        </div>*@

                        @*<div class="nav-user-wrapper">
                        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
                        <span class="sr-only">My profile</span>
                        <span class="nav-user-img">
                        <picture>
                        <source srcset="~/admin/img/avatar/avatar-illustrated-02.webp" type="image/webp">
                        <img src="~/admin/img/avatar/avatar-illustrated-02.png" alt="User name">
                        </picture>
                        </span>
                        </button>
                        <ul class="users-item-dropdown nav-user-dropdown dropdown">
                        <li>
                        <a href="##">
                        <i data-feather="user" aria-hidden="true"></i>
                        <span>Profile</span>
                        </a>
                        </li>
                        <li>
                        <a href="##">
                        <i data-feather="settings" aria-hidden="true"></i>
                        <span>Account settings</span>
                        </a>
                        </li>
                        <li>
                        <a class="danger" href="##">
                        <i data-feather="log-out" aria-hidden="true"></i>
                        <span>Log out</span>
                        </a>
                        </li>
                        </ul>
                        </div>*@
                    </div>
                </div>
            </nav>

            <!-- ! Main -->
            <main class="main users chart-page" id="skip-target">

                @RenderBody()

            </main>
            <!-- ! Footer -->
            @*<footer class="footer">
            <div class="container footer--flex">
            <div class="footer-start">
            <p>
            2021 © Elegant Dashboard - <a href="elegant-dashboard.com" target="_blank"
            rel="noopener noreferrer">elegant-dashboard.com</a>
            </p>
            </div>
            <ul class="footer-end">
            <li><a href="##">About</a></li>
            <li><a href="##">Support</a></li>
            <li><a href="##">Puchase</a></li>
            </ul>
            </div>
            </footer>*@
        </div>
    </div>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Chart library -->
    <script src="~/admin/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/admin/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/admin/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>